<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="./assets/icons/snowfall.png" type="image/png" />
  <link rel="stylesheet" href="../css/style.css" />
  <title>Vishal Portfolio</title>
</head>

<body>

  <!-- Header -->
  <header class="flex just-btwn align-cntr">
    <div class="brandLogo">
      <span>P</span>ortfolio
    </div>
    <nav class="navbarMenu">
      <ul class="flex just-btwn align-cntr">
        <li><a href="#project">Projects</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#about">About</a></li>
      </ul>
    </nav>
  </header>
  <!-- Header -->
  <!-- Hero -->
  <section class="title flex just-btwn align-cntr">
    <div class="titleDes">
      <div class="hi">
        <p>
          Hi, my name is <b>Vishal Raj.</b></br></br>
          I am Pursuing a Web Developer certification course from Newton's School.
        </p>
      </div>
      <div class="btn">
        <button><a href="#">GITHUB</a></button>
        <button><a href="https://www.linkedin.com/in/vishal-raj-85160817b/">LINKEDIN</a></button>
        <button><a href="./CV/Vishal_raj_Resume.pdf">DOWNLOAD CV</a></button>
      </div>
    </div>
    <div class="titlePic">
      <img src="../asset/img/myProfilePic.png.png" alt="profile-pic" class="profilePic">
    </div>
  </section>
  <!-- Hero -->

  <br>
  <br>

  <!-- Main -->
  <main>
    <!-- About in Main -->/
    <div id="about">
      <h1>About</h1>
      <div class="aboutItem flex just-even align-cntr">
        <div class="work">
          <h2>Web Development</h2>
          <p>Need help with Developing and Desgning things Lorem Ipsum is
            simply dummy text of the printing and
            typesetting industry.Lorem Ipsum is simply dummy text of the
            printing and typesetting industry. Lorem Ipsum
            has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of
            type and scrambled it to make a type specimen book. It has
            survived not only five centuries, but also the
            leap into electronic typesetting, remaining essentially
            unchanged.</p>
        </div>
        <div class="work">
          <h2>GitHub</h2>
          <p>Need help with Developing and Desgning things Lorem Ipsum is simply dummy text of the printing and
            typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
            has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
            type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
            leap into electronic typesetting, remaining essentially unchanged.</p>
        </div>
        <div class="work">
          <h2>Webflow and Setup</h2>
          <p>Need help with Developing and Desgning things Lorem Ipsum is simply dummy text of the printing and
            typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
            has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
            type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
            leap into electronic typesetting, remaining essentially unchanged.</p>
        </div>
      </div>
    </div>

    <!-- About in Main -->

    <!-- Skill in Main -->
    <div id="skill">
      <h1 class="skillHead">My Skills & Tools</h1>
      <div class="skills flex just-even align-cntr f-wrap">
        <img src="../asset/img/image 30.png" alt="css" class="skill-item">
        <img src="../asset/img/image 35.png" alt="javascript" class="skill-item">
        <img src="../asset/img/image 37.png" alt="react" class="skill-item">
        <img src="../asset/img/redux-icon.png" alt="redux" class="skill-item">
        <img src="../asset/img/image 33.png" alt="django" class="skill-item">
        <img src="../asset/img/Vector.png" alt="express" class="skill-item">
        <img src="../asset/img/aws.png" alt="aws" class="skill-item">
        <img src="../asset/img/image 46.png" alt="docker" class="skill-item">
        <img src="../asset/img/image 29.png" alt="html" class="skill-item">
      </div>
    </div>
    <!-- Skill in Main -->

    <!-- Project in Main -->
    <div id="project">
      <h1 class="projectHead">My Projects</h1>

      
      <div class="projItem flex just-even align-cntr">
        <div class="projectDes">
          <h2>Twitter Clone</h2>
          <p>Project Description: A convenient and fun way to browse featured clothing & accessories from some of the
            best clothing brands online, especially aimed at teenagers. With this web app, you can browse products by
            any color you like or by trending colors, save products into favorites, and share products with friends on
            social media.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          <div class="projDesDetail">
            <span>
              <h2>Skills Used:</h2>
            </span>Frontend: React & Redux || Backend: Django API
            <h2>Test Login Account</h2>
            <span>Username :test@gamil.com</span>
            <p>Password :123</p>
          </div>
          <div class="btn">
            <button><a href="#">Website Link</a></button>
            <button><a href="#">GitHub Link</a></button>
          </div>
        </div>
        <div class="projectScst">
          <img src="../asset/img/Screenshot 2022-07-12 at 3.44 1.png" alt="pro-2" class="projPic">
        </div>
      </div>
    </div>
    </div>
    <!-- Project in Main -->
  </main>
  <!-- Main -->

  <!-- Footer -->
  <footer id="contact">
    <h1>Hope you found my portfolio interesting!</h1>
    <p>You can reach me at:
      <a id="email" href="https://mail.google.com/mail/u/0/?ogbl#inbox" target="__blank">vishalraj198@gmail.com</a>
    </p>
    <hr>
    <div class="socialIcons">
      <a href="#"><img src="../asset/img/github.png" alt="github" class="git"></a>
      <a href="#"><img src="../asset/img/linkedin.png" alt="linkedin" class="link"></a>
    </div>
    <p id="copy">Vishal Raj - &copy; 2022 All Rights Reserved</p>
  </footer>
  <!-- Footer -->

</body>

</html>